#barLogin {
  display: flex;
  flex-direction: row;
  font-family: $font-family;
  color: $colorTitreNav;
  background-color: $colorNav;
  font-size: 21px;
  height: 110px;
}
#imgLogo {
  position: absolute;
  width: 70px;
  margin: 20px;
}
#barTitre {
  margin: auto;
}
#barTitreAnimation:hover {
  color: $colorHover;
  font-size: 55px;
  transition: 0.5s;
  margin-left: -10px;
  margin-bottom: 5px;
}