/*----STYLE GLOBAL----*/
nav {  
  font-family: $font-family;
  color: $colorTitreNav;
  background-color: $colorNav;
  height: 75px;
}
#nav {
  display:flex;
  flex-direction: row;
}
#nav1 {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}
#nav2 {
  width: 100%;
  position: absolute;
  margin-top: 125px;
}
#imageLogo {
  width: 75px;
  margin: 10px;
}
#animation{
    font-size: 27px;
    margin: 25px;
}
#animation:hover {
  font-size: 30px;
  color: $colorHover;
  margin: 20px;
  position: relative;
  transition: 0.5s;
}
#affichageCrea {
  width:100px;
  height: 40px;
  background-color: $colorTitreNav;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  padding: 7px 0;
  text-align: center;
  margin-top: 17px;
  display: none;
  color: $colorNav;
  text-decoration: none;
}
#affichageCrea:hover {
  background-color: $colorHover;
  color: $colorBody;
}
#affichagePlus {
  width:40px;
  height: 40px;
  border-radius: 20px;
  background-color: $colorTitreNav;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-top: 17px;
  color: $colorNav;
  padding-left: 8px;
  text-decoration: none;
}
#affichagePlus:hover {
  background-color: $colorHover; 
  color: $colorBody;
}

/*-----MENU DEROULANT-----*/
#responsive {
  display: none;
  width: 100px;
  margin: 7px 0 0 0;
}
.dropdown {
  list-style: none;
  margin: 20px;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  width: 195px;
  display: none;
  min-width: 50px;
}
.dropdown-content a {
  display: block;
  text-decoration: none;
  color: $colorBody;
  height: 50px;
  font-size: 15px;
  padding: 14px;
}
.dropdown-content a:hover {
  background-color: $colorHover;
  color: $colorNav;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.btn-name {
  width:100px;
  height: 40px;
  border: none;
  background-color: $colorTitreNav;
  font-weight: normal;
  font-size: 20px;
  margin-top: -10px;
  padding-bottom: 5px;
  cursor: pointer;
  color: $colorNav;
}
.btn-name:hover {
  background-color: $colorHover;
}
.btn-name span {
  position: relative;
  display: index-block;
  transition: 0.5s;
}
.btn-name span:after {
  content: '\21E9';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn-name:hover span {
  padding-right: 25px;
  color: $colorBody;
}
.btn-name:hover span:after {
  opacity: 1;
  right: 0;
}

/*-----STYLES IMPORTANTS-----*/
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 36px auto 10px;
  position: absolute;
  right: 35px;
  top: -125px;
}
#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}
#toggle span, #toggle span:after, #toggle span:before {
  width: 100%;
  height: 5px;
  background-color: $colorTitreNav;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/*-------LORSQU'ACTIF-------*/
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/*----APPARENCE DU MENU DU BURGER*----*/
#menu {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:$colorBody;
  overflow:hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  margin: -50px 0 0 0;
}
#listeBurgerUn, #listeBurgerBis, #listeBurgerTer {
  text-decoration: none;
  transition: all .2s;
  padding: 30px 0;
  font-size: 25px;
  color: $colorBody;
}
#listeBurgerUn, #listeBurgerBis {
  margin: 50px 0 10px 0 ;
}
#listeBurgerTer {
  margin: 50px 0 250px 0 ;
}
#listeBurgerUn:hover, #listeBurgerBis:hover, #listeBurgerTer:hover {
  background-color: $colorHover; 
  color: $colorNav;
}
.clair {
  background: $colorBtn1;
}
.moyen {
  background: $colorVarNav;
}
.fonce {
  background: $colorNav;
}


/*----RESPONSIVE----*/

@media only screen and (min-width: 700px) {
  #animation:hover {
    font-size: 45px;
    margin: 5px; 
  }
  #toggle {
    display: none;
  }
  #affichageCrea {
      display: block;
      margin-top: 17px;
  }
  #affichagePlus {
    display: none;   
  }
  #responsive  {
    display: block;
  }
  #nav1{
    width: 85%;
  }
  #nav2{
  width: 15%;
  }
}