
body {
    background-color: $colorBody;
    font-family: $font-family;
    color: $colorNav;
}
#animation{
    text-align: center;
}
#hDeuxQuizzHisto {
  text-align: center;
  margin: 20px auto;
}
#lignePleine{
    padding: 8px;
    border: 5px solid $colorNav;
    background-color: $colorFondCartes;
    width: 80%;
    margin: auto;
    margin: 0 auto 15px auto;
}
#bloc1{
    display:flex;
    align-items: center;
    flex-direction: column;
}
#titreQuizz, #nbQuestions, #statResp{
   margin-bottom: 10px;
}
#bloc2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#statResp {
    background-color: $colorHover;
    color: $colorBody;
    &:hover {
      background-color: $colorNav;
    }
}
#stat{
    text-decoration: none;
    &:hover {
      color: $colorHover;
    }
}
#test, #jou, #edit, #sup{
  background-color: transparent;
  color: $colorBody;
  text-decoration: none;
  }
.crud{
    width: 120px;
    height: 50px;
    color: $colorTitreNav;
    transition-duration: 0.4s;
    text-align: center;
    margin-bottom: 10px;
}
#statResp, #testResp, #jouResp, #editResp, #supResp{
    padding-top: 15px;
}
#testResp{
    background-color: $colorBtn2;
}
#jouResp{
    background-color: $colorBtn3;
}
#editResp{
    background-color: $colorBtn1
}
#supResp{
    background-color: $colorBtn4;
}
#testResp:hover, #test:hover, #jouResp:hover, #jou:hover, #editResp:hover, #edit:hover, #supResp:hover, #sup:hover{
    background-color: $colorHover;
    color: $colorNav;
}
#stat, #test, #jou, #edit, #sup{
    text-decoration: none;
}
#test, #jou, #edit, #sup{
    background-color: transparent;
    color: $colorBody;
}
#stat {
  color: $colorBody;
}

@media only screen and (min-width: 500px) {
    .container {
      width: 85%;
      margin: auto;
      }
      #hDeuxQuizzHisto {
      text-align: left;
      margin: 30px 0;
      }
    #lignePleine {
      display: flex;
      flex-direction: row;
      padding: 8px;
      border: 5px solid $colorNav;
      background-color: $colorFondCartes;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; 
    }
    #bloc1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
    }
    #bloc2 {
      display: flex;
      align-items: center;
    }
    .displayCrud {
        display: flex;
        flex-direction: row;
    }
    .crud {
      margin-bottom: 0;
    }
    #titreQuizz, #nbQuestions {
      padding: 20px;
    }
    #titreQuizz, #nbQuestions, #statResp {
      align-items: center;
      margin: 0;
    }
    #titreQuizz, #nbQuestions, #statResp{
       align-items: center;
       margin: 0;
     }
     #testResp, #jouResp, #editResp, #editResp, #supResp{ 
         margin-left: 35px;
         justify-content: center;
         
     }
     
  }
  /* style page new*/
  
#containerBody {.liensCouleur {
  font-size: 50px;
  color: blue;
  background-color: red;;
}
  display: flex;
  flex-direction: column;
}

#sideBar {
  background-color:$colorTitreNav;
}

@media only screen and(min-width:700px){
  
    #containerBody { 
      display: flex;
      flex-direction: row;
    }
}
