/*----FORMULAIRE login.html.twig-----*/
.titre2, .titre3 {
  text-align: center;
  font-weight: lighter;
  margin: 20px;
}
.formLogReg {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color:$colorFondCartes;
  border: 10px solid $colorNav;
  padding: 20px;
  text-align: center;
  margin: auto;
}
.alert alert-danger, .mb-3 {
  width: 80%;
  height: 40px;
  border-radius: 0px;
  margin: auto;
}
#decoLog {
  color: $colorHover;
  font-weight: bold; 
}
.form-control, .btnLog {
  border: 2px solid $colorNav;
  width: 80%;
  height: 40px;
  margin: 27px;
  padding: 10px;
  color: $colorNav;
}
#inputPseudo {
  background-color: $colorTitreNav;
}
#inputPassword {
  background-color: $colorTitreNav1;
}
.btnLog {
  background-color: $colorTitreNav2;
}
#piedForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
.liensCouleur {
  margin-left: 10px;
  color: $colorHover;
  font-weight: bold;
}

/*----FORMULAIRE register.html.twig-----*/
.a{
  margin: 10px;
}

#registration_form_pseudo, #registration_form_email, #registration_form_plainPassword {
  margin: 15px;
  width: 80%;
  height: 40px;
  border-radius: 0px;
  border: 2px solid $colorNav;
  padding: 5px;
  color: $colorNav;
}
#registration_form_pseudo {
  background-color: $colorTitreNav;
}
#registration_form_email {
  background-color: $colorTitreNav1;
}
#registration_form_plainPassword {
  background-color: $colorTitreNav2;
}
#btnSubmitRegistr {
  background-color: $colorTitreNav3;
  margin: 15px auto;
  width: 80%;
  height: 40px;
  border-radius: 0px;
  border: 2px solid $colorNav;
}
.required { 
  display: none;
}

/*-----RESPONSIVE----*/
@media only screen and (min-width: 700px) {
  .formLogReg {
    width: 400px;
    }
}