$colorTitreNav: rgb(235, 181, 198);
$colorBody: lighten($colorTitreNav, 15%);
$colorHover: rgb(221, 96, 133);
$colorTitreNav1: darken($colorTitreNav, 15%);
$colorTitreNav2: darken($colorTitreNav, 27%);
$colorTitreNav3: darken($colorTitreNav, 35%);
$colorNav: rgb(54,48,98);
$colorVarNav: rgb(85,85,129);
$colorBtn1: rgb(130,115,151);
$colorBtn2: lighten($colorBtn1, 20%);
$colorBtn3: lighten($colorBtn1, 10%);
$colorBtn4: darken($colorBtn1, 10%);
$colorFondCartes: rgb(255,255,255);
$colorRep1: rgb(212, 255, 153);
$colorRep2: rgb(255, 153, 161);
$colorRep3: rgb(255, 255, 140);
$colorRep4: rgb(153, 255, 255);

$font-family: Roboto;
