{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{% include 'barLogin.html.twig' %}

    <div id='containerLogin'>

        <h2 class='titre2'>Bienvenue sur QuizZaNou !!!</h2>
        <h3 class='titre3'>Plateforme de création de Quizz</h3>
        <h3 class='titre3'>Passez un agréable moment !!!</h3>

        <form class="formLogReg" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">Vous êtes identifié en tant que {{ app.user.username }}. <a id='decoLog' href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
            {# <label for="inputPseudo">Pseudo</label> #}
            <input type="text" value="{{ last_username }}" name="pseudo" placeholder="Pseudo" id="inputPseudo" class="form-control" required autofocus>
            {# <label for="inputPassword">Password</label> #}
            <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btnLog" type="submit">LOGIN</button>
        </form>

        <div id="piedForm">
            <p>Pas encore de compte ?</p>
            <a class='liensCouleur' href="{{ path('app_register') }}">Créez-le ici !!!</a>
        </div>

    </div>

{% endblock %}
