{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{% include 'barLogin.html.twig' %}

    <div id='containerLogin'>

        <h2 class="titre2">Bienvenue sur QuizZaNou !!!</h2>
        <h3 class="titre3">Plateforme de création de Quizz</h3>
        <h3 class="titre3">Passez un agréable moment !!!</h3>

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {# <h1>Register</h1> #}

        <form class="formLogReg" >
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.pseudo, { 'attr':{'placeholder': 'Pseudo', 'class':'champs_class'} }) }}
                {{ form_row(registrationForm.email, { 'attr':{'placeholder': 'Email', 'class':'champs_class'} }) }}
                {{ form_row(registrationForm.plainPassword, { 'attr':{'placeholder': 'Mot de passe', 'class':'champs_class'} }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit" id='btnSubmitRegistr' class="btn">S'enregister</button>
            {{ form_end(registrationForm) }}
         </form>

    </div>

{% endblock %}
