{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quizz_show', {"id": question.quizz.id }) }}">back to Quizz</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
