{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Nouvelle question</h1>

    {{ include('question/_form.html.twig') }}

    <a href="{{ path('quizz_show', {"id":quizz.id}) }}" style="color:black">back to list</a>
{% endblock %}
