{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>TempsImparti</th>
                <td>{{ question.tempsImparti ? question.tempsImparti|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ question.intitule }}</td>
            </tr>
        </tbody>
    </table>

    
    <a href="{{ path('question_index') }}">back to list</a>

    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
