@charset "UTF-8";
* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6dde5;
  font-family: Roboto;
  color: #363062;
}

#lignePleine {
  padding: 8px;
  text-align: left;
  border: 5px solid #363062;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#titreQuizz {
  font-size: 25px;
}

button {
  width: 120px;
  height: 50px;
  border: none;
  color: #ebb5c6;
}

#stat {
  background-color: #dd6085;
}

#test {
  background-color: #b6aec2;
}

#jou {
  background-color: #9c90ad;
}

#edit {
  background-color: #827397;
}

#sup {
  background-color: #695c7b;
}

@media only screen and (min-width: 500px) {
  h2 {
    text-align: center;
  }

  #lignePleine {
    display: flex;
    flex-direction: column;
  }

  #crud {
    display: fex;
    flex-direction: row;
  }

  #testResp, #jouResp, #editResp, #supResp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/*----STYLE GLOBAL----*/
nav {
  font-family: arial;
  font-size: 15px;
  color: #ebb5c6;
  background-color: #363062;
  height: 75px; }
  nav #nav {
    display: flex;
    flex-direction: row; }
    nav #nav1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 85%; }
      nav #nav12 {
        width: 100%; }

#logo {
  height: 75px;
  margin: 27px; }
  #logoa {
    color: #ebb5c6;
    text-decoration: none; }

h1 {
  padding: 4px 0 0 0; }
  h1:hover {
    font-size: 30px;
    color: #dd6085;
    margin: 10px;
    position: relative;
    transition: 0.5s; }

#affichageCrea {
  width: 100px;
  height: 40px;
  border-radius: 0;
  border: none;
  background-color: #ebb5c6;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  margin-top: 17px;
  display: none;
  color: #363062; }
  #affichageCrea:hover {
    background-color: #dd6085;
    color: #f6dde5; }

.btn-crea a {
  color: #363062;
  text-decoration: none;
}

#affichagePlus {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #ebb5c6;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin-top: 17px;
  color: #363062; }
  #affichagePlus:hover {
    background-color: #dd6085;
    color: #f6dde5; }

/*-----MENU DEROULANT-----*/
#responsive {
  display: none;
  width: 100px;
  margin: 7px 0 0 0;
}

.dropdown {
  list-style: none;
  margin: 20px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 195px;
  display: none;
  min-width: 50px;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: #f6dde5;
  height: 50px;
  font-size: 17px;
  padding: 14px;
}

.dropdown-content a:hover {
  background-color: #dd6085;
  color: #363062;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn-name {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #ebb5c6;
  font-weight: normal;
  font-size: 20px;
  margin-top: -10px;
  padding-bottom: 5px;
  cursor: pointer;
  color: #363062; }
  .btn-name:hover {
    background-color: #dd6085; }

.btn-name span {
  position: relative;
  display: inline-block;
  transition: 0.5s; }

.btn-name span:after {
  content: "⇩";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-name:hover span {
  padding-right: 25px;
  color: #f6dde5;
}

.btn-name:hover span:after {
  opacity: 1;
  right: 0;
}

/*-----STYLES IMPORTANTS-----*/
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 36px auto 10px;
}

#toggle span:after, #toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after {
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span, #toggle span:after, #toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #ebb5c6;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/*-------LORSQU'ACTIF-------*/
#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/*----APPARENCE DU MENU DU BURGER*----*/
#menu {
  position: relative;
  padding: 10px;
  margin: 0 -350px;
  text-align: center;
  background-color: #f6dde5;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

.listeBurger {
  margin: 20px;
  padding: 5px;
  color: #f6dde5;
  transition: all .2s; }

.clair {
  background-color: #827397; }

a.clair:hover {
  background-color: #dd6085; }

.moyen {
  background-color: #555581; }

a.moyen:hover {
  background-color: #dd6085; }

.fonce {
  background-color: #363062; }

a.fonce:hover {
  background-color: #dd6085; }

/*----RESPONSIVE----*/
@media only screen and (min-width: 700px) {
  #nav2 {
    width: 100%;
  }

  h1:hover {
    font-size: 45px;
  }

  #toggle {
    display: none;
  }

  #affichageCrea {
    display: block;
  }

  #affichagePlus {
    display: none;
  }

  #responsive {
    display: block;
  }

  #nav1 {
    width: 100%;
  }

  #nav2 {
    width: 10%; }

  .displayCrud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

  .btn-name {
    margin-top: -4px; } }
body {
  background-color: #f6dde5;
  font-family: Roboto;
  color: #363062;
}

h1 {
  text-align: center;
}

#lignePleine {
  padding: 8px;
  border: 5px solid #363062;
  background-color: white;
  width: 80%;
}

#bloc1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#titreQuizz, #nbQuestions, #statResp {
  margin-bottom: 10px;
}

#bloc2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#statResp {
  background-color: #dd6085;
}

#stat {
  color: #f6dde5;
}

.crud {
  width: 120px;
  height: 50px;
  color: #ebb5c6;
  transition-duration: 0.4s;
  text-align: center;
  margin-bottom: 10px;
}

#statResp, #testResp, #jouResp, #editResp, #supResp {
  padding-top: 15px;
}

#testResp {
  background-color: #b6aec2;
}

#jouResp {
  background-color: #9c90ad;
}

#editResp {
  background-color: #827397;
}

#supResp {
  background-color: #695c7b;
}

#testResp:hover, #test:hover, #jouResp:hover, #jou:hover, #editResp:hover, #edit:hover, #supResp:hover, #sup:hover {
  background-color: #dd6085;
}

a {
  color: #f6dde5;
  text-decoration: none;
}

#test, #jou, #edit, #sup {
  background-color: transparent;
}

@media only screen and (min-width: 700px) {
  #lignePleine {
    display: flex;
    flex-direction: row;
    padding: 8px;
    border: 5px solid #363062;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  #bloc1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
  }

  #bloc2 {
    display: flex;
    align-items: center;
  }

  .crud {
    margin-bottom: 0;
  }

  #titreQuizz, #nbQuestions {
    padding: 20px;
  }

  #titreQuizz, #nbQuestions, #statResp {
    align-items: center;
    margin: 0;
  }

  #testResp, #jouResp, #editResp, #editResp, #supResp {
    margin-left: 35px;
    justify-content: center;
  }
}
/* style page new*/
#containerBody {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=main.css.map */
