{% extends 'base.html.twig' %}

{% block title %}Edit ChoixReponse{% endblock %}

{% block body %}
    <h1>Edit ChoixReponse</h1>

    {{ include('choix_reponse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('choix_reponse_index') }}">back to list</a>

    {{ include('choix_reponse/_delete_form.html.twig') }}
{% endblock %}
