{% extends 'base.html.twig' %}

{% block title %}ChoixReponse index{% endblock %}

{% block body %}
    <h1>ChoixReponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>NbPoints</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for choix_reponse in choix_reponses %}
            <tr>
                <td>{{ choix_reponse.id }}</td>
                <td>{{ choix_reponse.libelle }}</td>
                <td>{{ choix_reponse.nbPoints }}</td>
                <td>
                    <a href="{{ path('choix_reponse_show', {'id': choix_reponse.id}) }}">show</a>
                    <a href="{{ path('choix_reponse_edit', {'id': choix_reponse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('choix_reponse_new') }}">Create new</a>
{% endblock %}
