{% extends 'base.html.twig' %}

{% block title %}New ChoixReponse{% endblock %}

{% block body %}
    <h1>Create new ChoixReponse</h1>

    {{ include('choix_reponse/_form.html.twig') }}

    <a href="{{ path('choix_reponse_index') }}">back to list</a>
{% endblock %}
