{% extends 'base.html.twig' %}

{% block title %}ChoixReponse{% endblock %}

{% block body %}
    <h1>ChoixReponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ choix_reponse.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ choix_reponse.libelle }}</td>
            </tr>
            <tr>
                <th>NbPoints</th>
                <td>{{ choix_reponse.nbPoints }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('choix_reponse_index') }}">back to list</a>

    <a href="{{ path('choix_reponse_edit', {'id': choix_reponse.id}) }}">edit</a>

    {{ include('choix_reponse/_delete_form.html.twig') }}
{% endblock %}
