<header>
    <div id='barLogin'>
        <div id="boxLogo">
            <img id="imgLogo" src="{{ asset('images/nav-logotrans01.png') }}">
        </div>                
        <div id="barTitre" >
            <h1 id="barTitreAnimation">QuizZaNou !!!</h1>
        </div>
    </div>
</header>