
    <header>
        <nav>
            <div id="nav">
                <div id="nav1"> 
                    <div id="logo">
                        <img id="imageLogo" src="{{ asset('images/nav-logotrans01.png') }}">
                    </div>                
                    <div class="space" >
                        <h1 id="animation">QuizZaNou !!!</h1>
                    </div>
                    <div id="space" >
                        <a class="btn-crea" id="affichageCrea" href="{{ path('quizz_new') }}">Création</a>
                        <a class="btn-crea" id="affichagePlus" href="{{ path('quizz_new') }}">+</a>
                    </div>
                </div>
                <div id="responsive">
                    <div class="dropdown">
                        <button class="btn-name"><span>{{ app.user.username }}</span></button>
                        <div class='dropdown-content'>
                            <a class="clair" class="MenuDeroulItem" href="#">Modification profil</a>
                            <a class="moyen" class="MenuDeroulItem" href="{{ path('app_logout') }}">Déconnexion</a>
                            <a class="fonce" class="MenuDeroulItem" href="#">Conditions générales</a>
                        </div>                       
                    </div>
                </div>
                <div id="nav2">
                    <a href="#" id="toggle"><span></span></a>
                    <div id="menu">
                        <a class="clair" id="listeBurgerUn" href="#">Modification profil</a>
                        <a class="moyen" id="listeBurgerBis" href="{{ path('app_logout') }}">Déconnexion</a>
                        <a class="fonce" id="listeBurgerTer" href="#">Conditions générales</a>
                    </div>
                </div>
            </div> 
        </nav>
    </header>

    <script>
        var theToggle = document.getElementById('toggle');

//-----fonction hasClass-------------
function hasClass(elem, className) {
	return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
}
//----- fonction addClass------------
function addClass(elem, className) {
    if (!hasClass(elem, className)) {
    	elem.className += ' ' + className;
    }
}
//----fonction removeClass------------
function removeClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
	if (hasClass(elem, className)) {
        while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
            newClass = newClass.replace(' ' + className + ' ', ' ');
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    }
}
//----fonction toggleClass---------------------
function toggleClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
    if (hasClass(elem, className)) {
        while (newClass.indexOf(" " + className + " ") >= 0 ) {
            newClass = newClass.replace( " " + className + " " , " " );
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    } else {
        elem.className += ' ' + className;
    }
}

theToggle.onclick = function() {
   toggleClass(this, 'on');
   return false;
}
window.onresize = function(){
    removeClass(document.getElementById('toggle'), 'on');
}

    </script>