{% extends 'base.html.twig' %}

{% block title %}Liste des quizz{% endblock %}

{% block body %}

{% include 'navbar.html.twig' %}

    <div class="container">

    <h2 id="hDeuxQuizzHisto">Mes QuizZaNou ( {{ quizzes|length }} )</h2>

        {% for quizz in quizzes %}
            <div id="lignePleine">
                <div id="bloc1">
                    <div id="titreQuizz">{{ quizz.titreQuizz }}</div>
                    <div id="nbQuestions">{{ quizz.questions|length }} question{% if quizz.questions|length > 1 %}s{% endif %}</div>
                    <div class="crud" id="statResp"><a id="stat" href="{{ path('quizz_show', {'id': quizz.id}) }}">Statistiques</a></div>
                </div>
                <div id="bloc2">
                    <div class="displayCrud">
                        <div class="crud" id="testResp"><a id="test" href="{{ path('quizz_show', {'id': quizz.id}) }}">Tester</a></div>
                        <div class="crud" id="jouResp"><a id="jou" href="{{ path('quizz_show', {'id': quizz.id}) }}">Voir</a></div>
                    </div>
                    <div class="displayCrud">
                        <div class="crud" id="editResp"><a id="edit" href="{{ path('quizz_edit', {'id': quizz.id}) }}">Editer</a></div>
                        <div class="crud" id="supResp"><a id="sup" href="{{ path('quizz_delete', {'id': quizz.id}) }}">Supprimer</a></div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">Enregistrements non trouvés</td>
            </tr>
        {% endfor %}

    </div>

{% endblock %}
