{% extends 'base.html.twig' %}

{% block title %}Création Quizz{% endblock %}

{% block body %}
    
{% include "navbar.html.twig" %}
  
  <div id="containerBody">
    
    <div id ="sideBar">
      <h3>QuizZaNou en cours</h3>
    
      <div id="">
      
      </div>

      <div id="bouttonSibar">
        <input type="button" value="Ajouter une question">
        <input type="button" value="Valider le questionnaire">
      </div>
    </div>{# end div sidebar #}

    {# début du contenu pour la création d'une question #}
    <div id="containerMain">
  
    {{ include('quizz/_form.html.twig') }}
    
    </div>{# end div containerMain #}

    <a href="{{ path('quizz_index') }}" style="color: black">Voir la liste des quizz</a>
  </div>{# end div container body #}
    {% endblock %}
