{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <h1>Quizz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quizz.id }}</td>
            </tr>
            <tr>
                <th>Titre_quizz</th>
                <td>{{ quizz.titreQuizz }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ quizz.dateCreation ? quizz.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actif_desactive</th>
                <td>{{ quizz.actifDesactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
{% for question in quizz.questions %}

    <li>{{ question.intitule }} <a href="{{ path('question_edit', {'id': question.id}) }}" style="color: black;">Modifier</a></li>

{% endfor %}
</ul>
    
    <a href="{{ path('question_new', {"id":quizz.id}) }}" style="color:black">Ajouter une question</a>
    
    <a href="{{ path('quizz_index') }}">back to list</a>

    <a href="{{ path('quizz_edit', {'id': quizz.id}) }}">edit</a>

    {{ include('quizz/_delete_form.html.twig') }}
{% endblock %}
